Research agent.json
{
  "name": "Research agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -288,
        -112
      ],
      "id": "68d40411-e853-47db-8492-6c5f26f2bbc6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a research assistant agent. You have Wikipedia, Hacker News API, and Serp API at your disposal.\n\nTo answer the user's question, first search wikipedia. If you can't find your answer there, then search articles using Hacker News API. If that doesn't work either, then use Serp API to answer the user's question.\n\n*REMINDER\n\nYou should only be calling one tool. Never call all three tools if you can get an answer with just one: wikipedia, Hacker News API, and Serp API"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -112,
        -128
      ],
      "id": "49ce791d-37c5-4ed1-ae98-d79cab41ee4d",
      "name": "Research agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        96
      ],
      "id": "5815b8b0-f3e4-4046-a374-4b59bae5cd55",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "h9eilgSvfqYdjrKS",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        -48,
        112
      ],
      "id": "5703b8df-0523-4381-9443-daf893738e72",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        48,
        96
      ],
      "id": "35653042-b9d7-42b1-a958-a024bfc4b0b3",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "wWwQPjsJMT83AIpr",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "all",
        "limit": "={{ $fromAI(\"limit\") }}",
        "additionalFields": {
          "keyword": "={{ $fromAI(\"keyword\") }}"
        }
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        192,
        64
      ],
      "id": "eb6d3311-092e-49d1-bad9-9bf5f0d29de0",
      "name": "Hacker News"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00cbeaa0-1534-4d38-a31b-e0135a116ccc",
              "name": "reponse",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -128
      ],
      "id": "13a73272-a5a3-4553-8a97-88bd3708be0b",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Research agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Research agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Research agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News": {
      "ai_tool": [
        [
          {
            "node": "Research agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "44f9fac0-2e97-474c-94fe-f2043b8c82b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4171f51daf81a6af5b99b15453ed6f4faeb615797921ab8ecd50cec537d18a9b"
  },
  "id": "H7MHpFbozHgbrqVM",
  "tags": []
}